<app-header></app-header>
<div class="maxcontainer">
    <div class="container">
        <div class="row">
            <h2>Ingresa el correo enlazado a tu cuenta para la recuperacion de tu contraseña:</h2>
        </div>
        <form [formGroup]="emailPassword"  class="row input-container">

            <div class="col-xs-12">
                <div class="styled-input wide">
                    <label>
                    <input formControlName="Correo" type="text" required />
                    Correo electronico:</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <button routerLink="/auth/login" class="btn-lrg submit-btn">Regresar</button> -
                <button (click)="onSubmit()" class="btn-lrg submit-btn">Enviar correo</button>
            </div>
        </form>
    </div>