<app-header></app-header>
<div class="maxcontainer">
    <div class="container">
        <div class="row">
            <h1>Escribe tu nueva contraseña</h1>
        </div>
        <form [formGroup]="resetPasswordForm" class="row input-container">
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <label> <input formControlName="password" type="password" required />
                        Contraseña:</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <label> <input formControlName="confirmPassword" type="password" required />
                        <div *ngIf="resetPasswordForm.errors">
                            <span class="text-danger" *ngIf="resetPasswordForm.errors['password-mismatch']">
                                Las contraseñas no coinciden.
                            </span>
                        </div>
                        Confirmar contraseña:
                    </label>
                </div>
            </div>

            <div class="col-xs-12">
                <button (click)="onSubmit()" class="btn-lrg submit-btn">Enviar mensaje</button>
            </div>
        </form>
    </div>