<div class="container">

    <app-dashboard-navigator></app-dashboard-navigator>
    <div class="conts">
            <p-table [value]="Roles" [paginator]="true" [rows]="5" >
                <ng-template pTemplate="caption">
                    <div class="cardcontent">
                        Roles
                        <p-button icon="pi pi-user-plus" styleClass="p-button-success" routerLink="/base/roles/crear"></p-button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>

                        <th>Funciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Roles>
                    <tr>
                        <td>{{ Roles.nombre }}</td>
                        <td>{{ Roles.descripcion }}</td>
                        <td>
                            <p-button icon="pi pi-pencil" styleClass="p-button-help"  (click)="irAUsuario(Roles.pkRol)" ></p-button>
                            <p-button icon="pi pi-trash"  styleClass="p-button-danger"  (click)="eliminar(Roles.pkRol)"></p-button>
    
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>