<div class="wrapper">
    <!--Top menu -->
    <div class="sidebar">
        <div style="padding-top: 50%;">
            <ul >
                <li>
                    <a routerLink="/base/perfil">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Mi perfil</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/base/favoritos">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Favoritos</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/base/historial">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Historial</span>
                    </a>
                </li>
                <li style="display: flex; justify-content: center; padding-top: 20%;">
                    <p-button icon="pi pi-sign-out" styleClass="p-button-outlined p-button-danger" label="Cerrar sesion" (click)="logout()"
                        (keypress)="logout()">
                    </p-button>
                </li>
            </ul>
        </div>
    </div>

</div>