<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


<div class="container">
    <app-dashboard-navigator></app-dashboard-navigator>
    <div class="conts">
        <div class="card">
            <div class="card-header">
                <p-button icon="pi pi-arrow-left" styleClass="p-button-rounded p-button-secondary"
                    routerLink="/base/roles"></p-button>
                <h2>Crear rol</h2>
                <p-button icon="pi pi-check" styleClass="p-button-rounded p-button-success"
                    (click)="guardarRol()"></p-button>
            </div>
            <div class="card-header">
                <form class="form" [formGroup]="editarRol">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input type="text" formControlName="Nombre" class="form-control-full"
                                placeholder="Ingrese su nombre" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="apellido">Descripcion:</label>
                                <input type="text" formControlName="Descripcion" class="form-control-full"
                                    placeholder="Ingrese una descripcion" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>