<div class="wrapper">
  <!--Top menu -->
  <div class="sidebar">
    <div class="profile">
      <img
        src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
        alt="profile_picture">
      <h3>{{usuario}}</h3>
      <p>Administrador</p>
    </div>
    <div>
      <ul>
        <li>
          <a routerLink="/base/dashboard">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="item">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/base/usuarios">
            <span class="icon"><i class="fas fa-desktop"></i></span>
            <span class="item">Usuarios</span>
          </a>
        </li>
        <li>
          <a routerLink="/base/productos">
            <span class="icon"><i class="fas fa-user-friends"></i></span>
            <span class="item">Productos</span>
          </a>
        </li>
        <li>
          <a routerLink="/base/categorias">
            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
            <span class="item">Categorias</span>
          </a>
        </li>
        <li>
          <a routerLink="/base/roles">
            <span class="icon"><i class="fas fa-database"></i></span>
            <span class="item">Roles</span>
          </a>
        </li>
        <li>
          <a routerLink="/base/dashboard">
            <span class="icon"><i class="fas fa-chart-line"></i></span>
            <span class="item">Ventas</span>
          </a>
        </li>
        <li style="display: flex; justify-content: center; padding-top: 20%;">
          <p-button icon="pi pi-sign-out" styleClass="p-button-outlined p-button-danger" label="Cerrar sesion" (click)="logout()"
              (keypress)="logout()">
          </p-button>
      </li>
      </ul>
    </div>
  </div>

</div>