
<app-nadvar-user></app-nadvar-user>
       <div class="blog-card">
            <div class="meta">
              <div class="photo" style="background-image: url(https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406__480.jpg)"></div>
            </div>
            <div class="description">
              <h1>Product name</h1>
              <h2>$1900</h2>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
              <button class="button1">Comprar ahora</button>
              <button class="button2">Añadir al carrito</button>
              <button class="button3" style="left: 355px; top: 324px;"><i class="pi pi-heart-fill" style=" font-size: 1.rem; color: rgb(248, 246, 246)"></i></button>
            </div>
          </div>

          
